<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.giseryung.mybatisstudy.mapper.UserMapper">
<!--    <update id="addTime">-->
<!--        update public.user set create_time=create_time+interval '600 second' ${ew.customSqlSegment}-->
<!--    </update>-->
    <update id="deductMoneyById">
        update public.user set balance = balance-#{money} where id=#{id}
    </update>
<!--    <select id="queryUserByIds" resultType="cn.giseryung.mybatisstudy.entity.po.User">-->
<!--        SELECT * from public.user-->
<!--        <if test=" ids!=null" >-->
<!--        where id in-->
<!--            <foreach collection="ids" open="(" close=")" item="id" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--        </if>-->
<!--    </select>-->

</mapper>